<!-- app/templates/base.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="intro-header">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="intro-message">
                  <h1>Neil'天气查询系统</h1>
                  <h3>MUA~MUA~MUA</h3>
                  <hr class="intro-divider">
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>

    {% endblock %}
