header {
    background-color: #495A80;
    text-align: center;
    height: 50px;
    opacity: 0.8;
    margin-bottom: 0px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}


body, html {
    width: 100%;
    height: 100%;
}

body {
    /*background-image: url(https://images.pexels.com/photos/435471/pexels-photo-435471.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);*/
    /*background-image: url(http://upload-images.jianshu.io/upload_images/6167135-a84a37a3a31de1ef.JPG?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

  .intro-header {
    padding-top: 55px;
    padding-bottom: 80px;
    text-align: center;
    /*color: #f8f8f8;*/
    color: #7cfc00;
    /*background: url("https://static.pexels.com/photos/424163/pexels-photo-424163.jpeg") no-repeat center center;*/
    background-size: cover;
    height: 100%;
}


.footer, .push {
  clear: both;
  height: 4em;
}

p.copyright {
    margin: 15px 0 0;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #f8f8f8;
    position:relative;bottom:0;
    width:100%;
    opacity:0.8

}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.center {

    color: #7cfc00;
    margin: auto;
    width: 50%;
    padding: 30px;
}
